@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 10;
    padding: 20;
    box-sizing: border-box;
    text-decoration:none;

}

body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cabecalho-imagem {
    height: auto;
}

.conteudo {
    margin-bottom: 20px;
    border-top: 0.5px solid #000000;
}

.principal {
    gap: 32px;
}

.titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color:#000000;
}

.paragrafo {
    font-family:'Times New Roman', Times, cursive;
    font-weight: 200;
    font-size: 15px;
    gap: 32px;
}

.botao {
    width: auto;
    height: auto;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px; 
}
