*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}


#menu{
    list-style: none;
    padding: 10;
    background-color: darkcyan;
   
}

#menu li{
    display: inline;
    
}

#menu li a{
    padding: 10px;
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    

}

#menu li a:hover{
    color:coral;
  text-shadow: 1px 1px 2px rgb(187, 42, 6), 0 0 25px rgb(53, 243, 5), 0 0 5px darkblue;
}


#menu li:last-child a{
    color: rgb(255, 255, 255);
    background-color: darkorange;
    border-radius: 25px;
    float: right;
    display: inline;
}

body {
    background-color: #ffd500;
    color:rgb(0, 0, 0);
}

p.hidden {
    border-style: hidden;
    background-color: aliceblue;
}

div{
    background-color: aliceblue;
    padding: 10px;
    margin: 40px;
    text-align: center;
 
  
}

button{
    background-color: rgb(0, 168, 8);
    border: none;
    padding: 15px;
    width: 15%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
  
    
}
button:hover{
    background-color: rgb(22, 192, 0);
    cursor: pointer;
}